@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .collapsible {
            color: green;
            cursor: onclick;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

            .active, .collapsible:hover {
            }

        .content {
            padding: 0 10px;
            display: none;
            overflow: hidden;
        }
    </style>
</head>
<body>
   
    <h1><p style="color:red;">Patient Billing system Frequently Asked Questions</p></h1>

    <p style="font-size:20px;">The following FAQs may help you answer questions about the billing process.<br><br></p>

    <button class="collapsible">Why did I receive a bill from Partners HealthCare?</button>
    <div class="content">
        <p>
            •	You don’t have health insurance.<br>
            •	  The service you received is not covered by your insurance.<br>
            •	You have a co-payment, co-insurance, or deductible that you did not pay at your visit.<br>
            •	  You did not get a required referral from your doctor.<br>
            •	  You received care outside your provider network.<br>
            •	You used up your insurance benefits. (Some health insurance companies limit coverage.)<br><br><br>
        </p>
    </div>


    <button class="collapsible">I have Health Safety Net (HSN). Why am I getting a bill?</button>
    <div class="content">
        <p>
            If you have HSN, (also called Free Care), we bill you if:<br><br>
            •	You have an HSN deductible.<br>
            •	You have private insurance and HSN, but did not pay your private insurance co-payment at your visit(HSN does not cover private insurance co-payments.)<br>
            •	You saw a doctor who does not accept HSN.<br>
            HSN is a state program that pays hospitals and health centers, but not most doctors. The Mass General Physicians Organization, the Brigham and Women’s Physicians Organization, the North Shore Physicians Group, and Newton Wellesley Ambulatory Services:<br>
            •	Will not bill patients on Full HSN<br>
            •	Will reduce bills for patients on Partial HSN by 70%<br><br>

            If your doctor is not a member of one of these groups, you may get a bill.<br><br>
        </p>
    </div>

    <button class="collapsible">Why am I getting more than one bill for the same service?</button>
    <div class="content">
        <p>
            You may receive separate bills from the hospital and the doctor for services. Bills from private practices affiliated with Massachusetts General Hospital and Newton-Wellesley Hospital will not be changing.<br><br>

            The hospital portion is for items such as medical equipment, technology, medical supplies, lab tests, radiology, and hospital rooms.<br><br>

            The professional portion is for the time the caregiver spends during the visit treating you, reading test results, and coordinating care.<br><br>

            If you are not sure how your health insurance plan will process claims for your doctor’s site, contact us at patientbilling@partners.org or 617-726-3884 to ask what you’ll pay out of pocket.<br><br><br>
        </p>
    </div>

    <button class="collapsible">Why is my cost for a doctor visit different from the amount listed on my insurance card?</button>
    <div class="content">
        <p>Some health insurance plans consider our health centers and physician practices to be hospital locations and not doctors’ offices. This may change how your health insurance pays for your care.<br><br></p>
    </div>

    <button class="collapsible">Why did I receive a bill from a physician whom I did not see?</button>
    <div class="content">
        <p>
            Some visits also have charges for ancillary departments (e.g., Radiology, Pathology, Anesthesia, etc.); please check to see if your bill includes an ancillary charge.<br>
            If you still believe that you received a bill in error, please contact Partners Patient Billing Solutions
        </p>
    </div>

    <button class="collapsible">When will I receive a bill?</button>
    <div class="content">
        <p>
            Patients are billed as soon as possible after their provider’s appointment or hospital stay.<br>
            •	Typically, bills are not sent until all insurance claims have been processed.<br>
            •	Patients without insurance receive bills directly.<br>
            •	Bill cycles are ever 30 days.<br>
            •	Once a bill is received, patients are given 25 days to pay their bills in full; the due date will be noted on your bill.<br><br>
        </p>
    </div>

    <button class="collapsible">How can I pay my bill?</button>
    <div class="content">
        <p>
            There are a few payment options.<br><br>

            1. Pay your bill online at www.patientgateway.org<br>
            2. Call 617-726-3884 and press 1 to pay your bill by phone<br>
            3.Send a check or money order to Partners HealthCare System to the following mailing address::<br><br>
            Partners HealthCare System<br>
            P.O. Box 418393<br>
            Boston, MA 02241-8393<br><br>
        </p>
    </div>

    <button class="collapsible">Can I pay my bill with a credit card?</button>
    <div class="content">
        <p>
            Yes, Partners HealthCare accepts Visa, MasterCard, Discover, American Express, and Electronic checks.<br><br>

            Visit https://www.patientgateway.org to create a Partners Patient Gateway account and pay your bill online.<br><br>

            Please call Partners Billing Solutions at 617-726-3884 to process your credit card via the telephone.<br><br>
        </p>
    </div>

    <button class="collapsible">What if I cannot pay my entire bill?</button>
    <div class="content">
        <p>
            Visit our Financial Assistance Page to learn more about discounts available to our patients, as well as the ability to create a payment plan.<br>
            You can also visit a patient financial counselor in person. Find where offices are located at our entities.
        </p>
    </div>

    <button class="collapsible">Why didn’t my insurance pay for my services?</button>
    <div class="content">
        <p>Your insurance carrier will forward an explanation of benefits (EOB) for your review; the form explains the payment or denial reason for the services rendered</p>
    </div>

    <button class="collapsible">What if my insurance information has changed?</button>
    <div class="content">
        <p>Please contact Patient Billing Solutions and they will be happy to update your insurance information for you</p>
    </div>

    <button class="collapsible">What if my address has changed?</button>
    <div class="content">
        <p>Please contact Patient Billing Solutions and they will be happy to update your address information for you.</p>
    </div>

    <button class="collapsible">If I updated my insurance information, do I have to call my insurance company to pay my bill?</button>
    <div class="content">
        <p>If you updated your insurance information with Patient Billing Solutions, we will re-submit your bill to your updated insurance company to request payment</p>
    </div>

    <button class="collapsible">Do I have to submit my bill to my secondary insurance?</button>
    <div class="content">
        <p>If we have all of your insurance information, we will bill your secondary insurance on your behalf.</p>
    </div>

    <button class="collapsible">Why am I being charged a co-payment for services during my annual check up? My insurance plan doesn’t require a co-payment for annual visits.</button>
    <div class="content">
        <p>
            When you are scheduled for your yearly physical there is no co-payment, however, if the provider addresses additional health issues that you may have, an additional visit code might be billed and your insurance may apply a co-payment to this part of the visit. The office staff does not know at the time of check in what services will be provided during your actual visit, as this is between you and your provider. If there is a co-payment you will be billed. If you have any questions regarding a bill of this type please contact your insurance company for further details, as it is the insurance companies' discretion as to what is applied as patient responsibility, such as a co-payment
        </p>
    </div>


    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>

</body>
</html>
